.productColors {
  --pic-size: clamp(1.5rem, calc(-4.66rem + 7.22vw), 4rem);

  button {
    border-radius: 0.75rem;
    background: var(--elevation-2);
    border: none;
    padding: 1rem;
    margin-left: var(--space-s);

    &:first-child {
      margin-left: 0;
    }
  }

  img {
    width: var(--pic-size);
    height: var(--pic-size);
  }

  .productColorActive {
    outline: 2px solid var(--txt-primary);
  }
}
