@import '../styles/include-media';

.shop {
  display: flex;
  margin-top: 8rem;
  gap: 1.25rem;
  align-items: flex-start;

  hr {
    border: 1px solid var(--elevation-3);
  }
}

.products {
  --columns: 5;

  flex: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1.25rem;

  @include media('<=1122px') {
    --columns: 4;
  }

  @include media('<=930px') {
    --columns: 3;
  }

  @include media('<=666px') {
    --columns: 2;
  }

  @include media('<300px') {
    --columns: 1;
  }
}
