.right {
  text-align: right;
  justify-content: right;
  span {
    order: 1;
  }
}

.title {  
  font-size: var(--step-3);
  text-transform: uppercase;
  line-height: 1;

  display: flex;
  align-items: center;
  gap: 1.25rem;

  &::after {
    content: '';
    height: 1px;
    width: var(--step-6);
    background: var(--txt-secondary);
  }

  span {
    color: var(--txt-primary);
    
    font-size: 1.25rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid var(--txt-primary);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  } 
}